.fira-san{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
  }
  header{
    background-color: rgba(245, 245, 245, 1);
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 31px 160px;
  }
  .name{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
  }
  .btn{
    width: 120px;
    height: 52px;
    border: 1px solid;
    border-color:rgba(0, 106, 80, 1) ;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600px;
    color: rgba(0, 106, 80, 1) ;
    
    
  }
  .btn:hover{
    background-color: rgba(0, 106, 80, 1) ;;
    cursor: pointer;
    color: white ; 
  }
  .banner{
   
    background-color:rgba(198, 228, 214, 1) ;
    padding: 50px 90px;
    width: 1030px;
    margin: 0 auto;
    border-radius:24px ;
    display: flex;
    justify-content: space-between;
    



  }
  .banner-contant h2{
    font-size: 19px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-top: 117px;

  }
  .banner h1{
    font-size: 44px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 16px;
  }
  .btn-banner{
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 600px;
    margin-top: 24px;
    border: none;

  }
  .btn-banner:hover{
    background-color: red;
    cursor: pointer;
  }
  .img-dp{
    margin-left: 64px;
    width: 1024px;
    height: 448px;

  }
  /* main */

  main{background-color: rgba(245, 245, 245, 1);}
  .pivi-container{
    margin: 0px 128px 0px 160px;
    padding-top: 80px;
  }
  .title{
    font-weight: bold;
    font-size: 40px;
    
  }
  .pillarsb{
    display: flex;
    
    justify-content: center;
    margin-top: 26px;
    margin-right: 30px;
    
    gap: 20px;
    
  }
  .pillar{

background-color:rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: rgba(14, 14, 14, 0.15);
    padding: 20px;
    border-radius: 16px;
    width: 410px;
  }
  .pillar-h:hover{
    background-color: #FFD7C4;
    cursor: pointer;
  }
  .pillar img{
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
  .pillar-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
  }
  .pillar-des{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }
  .container2{
    margin-top: 80px;
  }
  .container2 p{
    margin-top: 20px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }
  .learn1{
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);

  }
  .learn1:hover{
    background-color: red;
    cursor: pointer;
  }

  .learn2{
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);

  }
  .learn2:hover{
    background-color: red;
    cursor: pointer;
  }
  .learn3{
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);

  }
  .learn3:hover{
    background-color: red;
    cursor: pointer;
  }
  .pillar-clr1{
    background-color: rgba(84, 144, 245, 0.2);
  }
  .pillar-clr2{
    background-color: rgba(198, 228, 214, 1);

  }


.pillar-clr3{
    background-color: rgba(247, 235, 207, 1);
}
.person-u{
    background-color: rgba(255, 255, 255, 1);
    margin: 26px 160px;
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;

    background-position-x: 24px ;
    background-position-y:20px ;
    width: 1155px;

}

.person-life-h{
 color: rgba(14, 14, 14, 0.8);
 font-size: 16px;
 margin-bottom: 15px;
}  
.person-life{
font-size: 16px;
color: rgba(14, 14, 14, 0.6);
}

.title-opinion{
    font-size: 40px;
    font-weight: bold;
    margin: 80px 160px 24px 160px;
}
.opinion table
{border-collapse: collapse;
width: 1100px;
margin: 0 32px;}  
.opinion td,th{
  border: 0.4px solid rgb(206, 187, 187);
  padding: 30px 24px;
}

.question-h{
  margin-right: 10px;
}

.question{
   
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    border: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 24px;
    margin: 0 22px 0 32px;
    border: 0.4px solid rgb(206, 187, 187);
    
    
}
.opinion{
    background-color: rgba(255, 255, 255, 1);
margin: 26px 160px;
padding: 48px 24px;
border-radius: 16px;
background-position-x: 24px ;
background-position-y:20px ;
width: 1155px;
}
.des{
    font-size: 16px;
    font-weight: 600px;
}
.opinion select{
  margin-left: 50px;
}
.select{
    width: 152px;
    height: 44px;
    background-color: rgba(198, 228, 214, 1);
    padding-left: 20px ;
    
    font-size:14px ;
    font-weight: 500px;
    border-radius: 4px;
  
}
.title-news{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(14, 14, 14, 1);
}

.news-containar {
  
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: 0px 128px 26px 160px;
   

    
}
.news-containar p{
  margin-top: 20px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.box1, .box2, .box3{ 
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 48px ;
  margin-top: 20px;
  gap: 26px;
  border-radius: 24px;
  width: 1110px;
  height: 240px;
}
.box1-left img{
  width: 326px;
  height: 244px;

  border-radius: 24px;
}
.box1-right h3{
  font-size: 26px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
 
}
.box1-right p{
  font-size: 13px ;
  color: rgba(14, 14, 14, 0.7);
  margin: 12px 0 28px 0;
}
.box1-right button{
  
  
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 600px;
  background-color:rgba(0, 106, 80, 1) ;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);

}
.box1-right button:hover{
  background-color: red;
  cursor: pointer;
}
.logo img{
  width: 108px;
  height: 32px;
  padding: 10px 0 10px 0;
}
.date{
  display: flex;
  gap: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 13px;
  font-weight: 400px;
}

/* box2 */
.box2{
  margin: 20px 0 20px 0;
}


.box2-right img{
  width: 326px;
  height: 244px;

  border-radius: 24px;
}
.box2-left h3{
  font-size: 26px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  
}
.box2-left p{
  font-size: 13px ;
  color: rgba(14, 14, 14, 0.7);
  margin: 12px 0 28px 0;
}
.box2-left button{
  
 
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 600px;
  background-color:rgba(0, 106, 80, 1) ;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);

}
.box2-left button:hover{
  background-color: red;
  cursor: pointer;
}


/* box3 */
.box3-left img{
  width: 326px;
  height: 244px;

  border-radius: 24px;
}
.box3-right h3{
  font-size: 26px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
 
}
.box3-right p{
  font-size: 13px ;
  color: rgba(14, 14, 14, 0.7);
  margin: 12px 0 28px 0;
}
.box3-right button{
  
  
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 600px;
  background-color:rgba(0, 106, 80, 1) ;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);

}
.box3-right button:hover{
  background-color: red;
  cursor: pointer;
}
.donate-containar{
  text-align: center;
  margin: 80px 160px 32px 160px ;
}
.donate-containar h3 {
  font-size: 32px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}
.donate-containar p{
  font-size: 13px ;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 24px ;
  padding:0 88px 0 88px ;
}
.taka {
  display: flex;
  justify-content: center;
  gap: 24px;
  
}
.taka h1{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 192px;
  text-align: center;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
  font-size: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);}

  .taka h1:hover{
    background-color: #FFD7C4;
  cursor: pointer;
  }
.taka .clr{
  background-color: rgba(198, 228, 214, 1);
  
}
.donate-amnt input{
  text-align: center;
  width: 1150px;
  height: 52px;
  margin: 26px 0px 26px 185px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  
  
}
.donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.donate-btn button:hover
{background-color: red;
cursor: pointer;}

.donate-btn button{
  width: 121px;
  height: 45px;
  border-radius: 8px;
  background-color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(14, 14, 14, 0.1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600px;
  
  margin-bottom: 65px;

}

.subscribe{
  
  background-color:rgba(198, 228, 214, 1) ;
    padding: 64px ;
    width: 1030px;
    margin: 0 auto;
    border-radius:24px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.newsletter h3 {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}
.newsletter p{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
  
}
.subscribe-box{
  margin-bottom:24px ;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left:265px;
    

}
.subscribe-box input{
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  width: 600px;
  height: 45px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 40px;

}
.subscribe-box button{
  padding: 12px 34px;
  background-color: rgba(0, 106, 80, 1);
  height: 46px;
  width: 150px;
  color: rgba(255, 255, 255, 1);
  font-size:18px ;
  font-weight: 600px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.subscribe-box button:hover
{background-color: red;
cursor: pointer;}

.ti-m{
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}
hr{
  margin:32px 240px 32px 240px ;
}
.footer .icons{
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-bottom:50px ;

}
